<html>
    <body>
    <div>
        <div>
            Naam: {{ name }}
        </div>
        <div>
            Telefoonnummer: {{ phone }}
        </div>
        <div>
            Email: {{ emailaddress }}
        </div>
        <div>
            Datum/tijd: {{ date }}
        </div>
        <div>
            Ophaal locatie: {{ pickup_location }}
        </div>
        <div>
            Afzet locatie: {{ drop_location }}
        </div>
        <div>
            Beschrijving: {{ description }}
        </div>
    </div>
    </body>
</html>
