{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    {% include 'AppBundle:components:notifications.html.twig' %}

    <div class="phone-link-container">
        <a class=phone-link href="tel:+31321340402"><i class="fa fa-phone" aria-hidden="true"></i> 0321 34 04 02</a>
    </div>

    <div class="main-text">
        <p>
            {{ 'main.text.one'|trans }}
        </p>
        <p>
            {{ 'main.text.two'|trans }}
        </p>
        <p>
            {{ 'main.text.three'|trans }}
        </p>

        {% include 'AppBundle:components:contact.html.twig' %}

    </div>

    <div class="col-xs-12">

        {#<div class="col-sm-4 col-xs-12 main-text-block text-center">#}
            {#<div class="icon-wrapper">#}
                {#<i class="icon fa fa-bus" aria-hidden="true"></i>#}
            {#</div>#}
            {#<span class="text">#}
                {#<h2>Hier komt een titel</h2>#}
                {#<ul>#}
                    {#<li>Eerste textje hier</li>#}
                    {#<li>Tweede textje hier</li>#}
                    {#<li>Derde textje hier</li>#}
                    {#<li>Vierde textje hier</li>#}
                {#</ul>#}
            {#</span>#}
        {#</div>#}


        <div class="col-sm-6 col-xs-12 main-text-block text-center">
            <a href="{{ path('service') }}">
                <div class="icon-wrapper">
                    <i class="icon fa fa-users" aria-hidden="true"></i>
                </div>
                <div class="text">
                    <h2>{{ 'text_block.service'|trans }}</h2>
                    <ul>
                        <li>{{ 'text_block.street_taxi'|trans }}</li>
                        <li>{{ 'text_block.car_home'|trans }}</li>
                        <li>{{ 'text_block.hospital'|trans }}</li>
                        <li>{{ 'text_block.airport'|trans }}</li>
                    </ul>
                </div>
            </a>
        </div>

        <div class="col-sm-6 col-xs-12 main-text-block text-center">
            <a href="{{ path('zakelijk') }}">
                <div class="icon-wrapper">
                    <i class="icon fa fa-taxi" aria-hidden="true"></i>
                </div>
                <div class="text">
                    <h2>{{ 'text_block.business_partner'|trans }}</h2>
                    <ul>
                        <li>{{ 'text_block.business'|trans }}</li>
                        <li>{{ 'text_block.groups'|trans }}</li>
                        <li>{{ 'text_block.private'|trans }}</li>
                        <li>{{ 'text_block.courier'|trans }}</li>
                    </ul>
                </div>
            </a>
        </div>
    </div>


    {% include 'AppBundle:components:form.html.twig' %}

{% endblock %}
