{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    {% if sendForm == true %}
        <div class="alert alert-success alert-dismissable fade in">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {{ 'make_appointment_success'|trans }}
        </div>
    {% elseif formError == true %}
        <div class="alert alert-danger alert-dismissable fade in">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {{ 'make_appointment_error'|trans }}
        </div>
    {% endif %}


    <div class="phone-link-container">
        <a class=phone-link href="tel:+31321340402"><i class="fa fa-phone" aria-hidden="true"></i> 0321 34 04 02</a>
    </div>

    <div class="main-text">
        Lorem ipsum dolor sit amet, pro no labitur saperet nominavi. Dicit persius mei ad, pri quis aliquam eu, id sea legere meliore epicurei. Falli facilisi vis ne, mel at veri gloriatur voluptatum. At nam modo docendi assueverit, ex eius illum tractatos qui. Debet dicam perfecto an mei, eam impetus volutpat ut, partem invidunt eu nec.

        Sint electram has ut. Vel aliquam aliquando et. At soleat causae mei, ut vero timeam pro. Ullum graece deterruisset eam cu, tollit delicata est at. Vocent ocurreret neglegentur mei ea, ne inani ceteros intellegam mei, mel ne aliquid inermis dignissim. Convenire principes eum ex.
    </div>

    <div class="col-xs-12">

        <div class="col-sm-4 col-xs-12 main-text-block text-center">
            <div class="icon-wrapper">
                <i class="icon fa fa-bus" aria-hidden="true"></i>
            </div>
            <span class="text">
                <h2>Hier komt een titel</h2>
                <ul>
                    <li>Eerste textje hier</li>
                    <li>Tweede textje hier</li>
                    <li>Derde textje hier</li>
                    <li>Vierde textje hier</li>
                </ul>
            </span>
        </div>


        <div class="col-sm-4 col-xs-12 main-text-block text-center">
            <div class="icon-wrapper">
                <i class="icon fa fa-users" aria-hidden="true"></i>
            </div>
            <span class="text">
                <h2>Service</h2>
                <ul>
                    <li>Straat taxi</li>
                    <li>Auto-thuisbrengservice</li>
                    <li>Ziekenhuis vervoer</li>
                    <li>Luchthaven vervoer</li>
                </ul>
            </span>
        </div>

        <div class="col-sm-4 col-xs-12 main-text-block text-center">
            <div class="icon-wrapper">
                <i class="icon fa fa-taxi" aria-hidden="true"></i>
            </div>
            <span class="text">
                <h2>Uw zakelijke partner</h2>
                <ul>
                    <li>Zakelijk vervoor</li>
                    <li>Groepsvervoer</li>
                    <li>Prive chaffeurs</li>
                    <li>(Spoed) Koeriersdiensten</li>
                </ul>
            </span>
        </div>


    </div>

    <div class="col-xs-12 form">
        <h1>{{ 'make_appointment'|trans }}</h1>

        {{ form_start(form) }}
        {{ form_end(form) }}
    </div>

{% endblock %}
